

.swiper-container {
  width: 100%;
  height: 200px;
  border: 1px solid red;
  position: relative;
}
.swiper-wrapper {
  border: 1px solid green;
  
}
.swiper-slide {
  border: 1px solid blue;
  width: 50vw;
  height: 37.5vw;
}

gestate-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  canvas.sketch {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 12;
  } 
}
